.icon {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #666;
  color: black;
  font: normal normal normal 48px/1 'iconmonstr-iconic-font';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: '\e015';
  }
}

@mixin icon ($icon, $color, $size) {
  @extend .icon;

  @if ($size=='small') {
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
  }

  color: $color;

  &::before {
    content: $icon;
  }
}

@each $name,
$icon in $icons {
  .icon-small-#{$name} {
    @include icon($icon, black, 'small')
  }
}

@each $name,
$icon in $icons {
  @each $color in $colors {
    .icon-#{$name}-#{$color} {
      @include icon($icon, $color, 'large');
    }
  }
}